@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 58% 93%;
    --foreground: 224 70% 20%;
    --card: 0 0% 100%;
    --card-foreground: 224 70% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 70% 20%;
    --primary: 224 100% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 225 30% 88%;
    --secondary-foreground: 224 70% 20%;
    --muted: 225 30% 88%;
    --muted-foreground: 225 20% 45%;
    --accent: 120 25% 68%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 30% 80%;
    --input: 225 30% 85%;
    --ring: 224 100% 58%;
    --radius: 0.5rem;
    --chart-1: 224 100% 58%;
    --chart-2: 120 25% 68%;
    --chart-3: 224 70% 30%;
    --chart-4: 120 40% 50%;
    --chart-5: 224 50% 70%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 224 100% 68%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 120 25% 40%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 20%;
    --ring: 224 100% 78%;
    --chart-1: 224 100% 68%;
    --chart-2: 120 35% 58%;
    --chart-3: 224 70% 50%;
    --chart-4: 120 50% 40%;
    --chart-5: 224 50% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .animated-border-box {
    @apply relative overflow-hidden;
  }

  .animated-border-box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(theme(colors.primary.DEFAULT), theme(colors.primary.DEFAULT)),
      linear-gradient(theme(colors.accent.DEFAULT), theme(colors.accent.DEFAULT)),
      linear-gradient(theme(colors.primary.DEFAULT), theme(colors.primary.DEFAULT)),
      linear-gradient(theme(colors.accent.DEFAULT), theme(colors.accent.DEFAULT));
    animation: border-spin 4s linear infinite;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .dark .animated-border-box::before {
     background-image: linear-gradient(theme(colors.primary.DEFAULT), theme(colors.primary.DEFAULT)),
      linear-gradient(theme(colors.accent.DEFAULT), theme(colors.accent.DEFAULT)),
      linear-gradient(theme(colors.primary.DEFAULT), theme(colors.primary.DEFAULT)),
      linear-gradient(theme(colors.accent.DEFAULT), theme(colors.accent.DEFAULT));
  }
}